@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;500;700&family=Montagu+Slab:wght@200;400;700&family=Nokora:wght@300;400;700&display=swap');

// font-family: 'Josefin Sans', sans-serif; 100, 500, 700
// font-family: 'Montagu Slab', serif; 200, 400, 700
// font-family: 'Nokora', sans-serif; 300, 400, 700

.layout {
    background-color: rgba(75, 120, 169, .1);
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Nokora', sans-serif;
    background-color: azure;
    min-height: 100vh;
}

.welcomeSection {
    min-height: 50vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.services {
    background-color: rgba(75, 120, 169, 0.1);
    margin-top: 3em;

}

.welcome {
    font-family: 'Montagu Slab', serif;
    display: grid;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 50vh;
    border: 1px solid rgba(0, 0, 0, 0.9);

    h1 {
        font-size: 4em;
    }
}

.welcomeImg {
    grid-area: 1/1;
    filter: blur(4px);
    opacity: .9;
    max-height: 70vh;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.welcomeBanner {
    grid-area: 1/1;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    color: white;
}

#services, 
.specialties,
#testimonials,
.aboutTitle {
    h3 {
        font-size: 4em;
        font-family: 'Montagu Slab', serif;
    }
}

.imgDiv {
    display: grid;
    background-color: rgba(176, 176, 176, 0.8);
    // border-radius: 50%;
}

.roundDisplay {
    grid-area: 1/1;
    filter: blur(2px);
    opacity: .9;
    margin: 0;
    // border-radius: 50%;
}

.imgBanner {
    grid-area: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: white;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.9);
}

.testimonyCarousel {
    min-height: 15em;
}

.testimonial {
    max-width: 30em;
    align-items: center;
    margin: 0 auto;
}

.anchorLink {
    text-decoration: inherit;
    color: inherit;
}

.contactMe {
    text-align: end;
}

.contactMeList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
}

.icons {
    font-size: 13px;
}

.bio {
    background-color: rgba(75, 120, 169, 0.1);
    border: rgba(0, 0, 0, 0.1);
}

.bannerMsg {
    font-size: 30px;
    font-weight: 500;
}

.bannerTitle {
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.9);
}